AI/bin/*
Models/__pycache__/*
AI/src/agents/models/agents.pmml
AI/src/agents/models/heuristics.pmml
AI/.pydevproject
AI/ludii.trl
AI/ludii_preferences.json
AI/build/error_report.txt
AI/build/ludii_preferences.json
AI/build/ludii.trl
AI/error_report.txt
